<% include ../templates/header.ejs %>
<div id="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Single Project</h1>
        <span>Post-ironic scenester four dollar toast</span>
      </div>
    </div>
  </div>
</div>

<section class="single-project">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="left-info">
          <h4>Project Info</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis met vehicula et non dolor. Aliquam accumsan velit pulvinar purus sodalessagittis lect accumsan. Aliquam sollicitudin, diam vitae consequat sodales mi sem sollicia dignissim
            massa mauris sed turpis. Donec laoreet faucibus metus a mollis.</p>
          <ul>
            <li>:: Lorem ipsum dolor sit amet consectetur</li>
            <li>:: Cras id ipsum ultricies pretium tortor</li>
            <li>:: Donec ut risus mattis dignissim</li>
            <li>:: Etiam sit amet sem a lorem porta tempor</li>
            <li>:: Vivamus bibendum diam ornare nunc</li>
          </ul>
          <h4>Project Description</h4>
          <p>Sed laoreet mattis mauris, sit amet porta est tempus at. Quisque dapibus leo neque, et faucibus mauris consectetur at.</p>
          <div class="project-list">
            <ul>
              <li><i class="fa fa-user"></i><span>Client:</span><a href="#">Robert Imeri</a></li>
              <li><i class="fa fa-calendar"></i><span>Date:</span><a href="#">22 October 2015</a></li>
              <li><i class="fa fa-map-marker"></i><span>Location:</span><a href="#">Hazelwood  Algona,4067 </a></li>
              <li><i class="fa fa-folder-o"></i><span>Category:</span><a href="#">Interior Design</a></li>
              <li><i class="fa fa-share-alt"></i><span>Share:</span><a href="#">Facebook</a>,<a href="#">Twitter</a>,<a href="#">Behance</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="right-content">
          <div class="project-owl">
            <div class="item">
              <img src="http://placehold.it/670x400" alt="" />
            </div>
            <div class="item">
              <img src="http://placehold.it/670x400" alt="" />
            </div>
          </div>
          <div class="under-single">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <img src="http://placehold.it/320x400" alt="">
              </div>
              <div class="col-md-6 col-sm-12">
                <img src="http://placehold.it/320x400" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% include ../templates/footer.ejs %>
