<section class="single-service">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="side-bar">
            <div class="services-list">
              <ul>
                <li><a href="/insparation/hardware">Hardware<i class="fa fa-angle-right"></i></a></li>
                <li><a href="/insparation/modern-idea">Modern Idea<i class="fa fa-angle-right"></i></a></li>
                <li><a href="/insparation/traditional-idea">Traditional Idea<i class="fa fa-angle-right"></i></a></li>
                <li><a href="/insparation/think-about">Think About<i class="fa fa-angle-right"></i></a></li>

              </ul>
            </div>
            <div class="about-company">
              <h4>About Company</h4>
              <ul>
                <li><i class="fa fa-phone"></i>646-325-0357</li>
                <li><i class="fa fa-envelope-o"></i>innovation@domain.com</li>
                <li><i class="fa fa-clock-o"></i>Mon - Sat : 08:00 - 18:00</li>
              </ul>
            </div>
            <div class="brochures">
              <h4>Brochures</h4>
              <ul>
                <li><a href="#">Download Documents<i class="fa fa-download"></i></a></li>
                <li><a href="#">Download Services Brochure<i class="fa fa-download"></i></a></li>
                <li><a href="#">Download Financial Brochures<i class="fa fa-download"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
