<div class="col-md-3">
  <div class="side-bar">
    <div class="services-list">
      <ul>
        <li><a href="/services/manufacturing">Manufacturing<i class="fa fa-angle-right"></i></a></li>
        <li><a href="/services/installing">Installing<i class="fa fa-angle-right"></i></a></li>
        <li><a href="/services/millwork">Millwork<i class="fa fa-angle-right"></i></a></li>
        <li><a href="/services/design">Design<i class="fa fa-angle-right"></i></a></li>
        <li><a href="/services/general-contracting">General Contracting<i class="fa fa-angle-right"></i></a></li>
      </ul>
    </div>
    <div class="about-company">
      <h4>About Company</h4>
      <ul>
        <li><i class="fa fa-phone"></i>646-325-0357</li>
        <li><i class="fa fa-envelope-o"></i>innovation@domain.com</li>
        <li><i class="fa fa-clock-o"></i>Mon - Sat : 08:00 - 18:00</li>
      </ul>
    </div>
  </div>
</div>
