<% include templates/header.ejs %>


				<div id="page-heading">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>About Us</h1>
								<span>Post-ironic scenester four dollar toast</span>
							</div>
						</div>
					</div>
				</div>

				<section class="expert-field">
					<div class="container">
						<div class="row">
							<div class="col-md-5">
								<div class="left-image">
									<img src="http://placehold.it/470x310" alt="">
								</div>
							</div>
							<div class="col-md-7">
								<div class="expert-content">
									<h4>We are the Expert on this Field</h4>
									<div class="line-dec"></div>
									<p>Praesent vitae nisl et felis lobortis malesuada. Ut eros mi, sodales non condimentum bibendum, aliquam Cras congue orci arcu, sit amet porta eros sollicitudin egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam fermentum neque vitae massa rhoncus placerat. Maecen mauris purus, ultrices ut rhoncus eget, dictum sit amet tortor.</p>
									<ul>
										<li><i class="fa fa-check"></i>Nunc id ex et leo posuere</li>
										<li><i class="fa fa-check"></i>Proin ultrices ex at risus</li>
										<li><i class="fa fa-check"></i>Donec et felis mollis iaculis</li>
										<li><i class="fa fa-check"></i>Duis quis turpis volutpat</li>
									</ul>
									<ul>
										<li><i class="fa fa-check"></i>Proin ultrices ex at risus</li>
										<li><i class="fa fa-check"></i>Donec et felis mollis iaculis</li>
										<li><i class="fa fa-check"></i>Duis quis turpis volutpat</li>
										<li><i class="fa fa-check"></i>Nunc id ex et leo posuere</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="our-team">
					<div class="container">
						<div class="row">
							<div class="section-heading col-md-12 text-center">
								<h2>Meet The Talents</h2>
								<div class="line-dec"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="team-member">
									<div class="thumb-holder">
										<img src="http://placehold.it/270x290" alt="">
										<div class="hover-effect">
											<div class="hover-content">
												<h4>Patric Mathew</h4>
												<span>Architect</span>
												<ul>
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="team-member">
									<div class="thumb-holder">
										<img src="http://placehold.it/270x290" alt="">
										<div class="hover-effect">
											<div class="hover-content">
												<h4>Patrica Holmes</h4>
												<span>Manager</span>
												<ul>
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="team-member">
									<div class="thumb-holder">
										<img src="http://placehold.it/270x290" alt="">
										<div class="hover-effect">
											<div class="hover-content">
												<h4>Anton Marsch</h4>
												<span>Chef</span>
												<ul>
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="team-member">
									<div class="thumb-holder">
										<img src="http://placehold.it/270x290" alt="">
										<div class="hover-effect">
											<div class="hover-content">
												<h4>Maria Luise</h4>
												<span>Designer</span>
												<ul>
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="share-passion">
					<div class="container">
						<div class="row">
							<div class="section-heading col-md-12">
								<h2>Share your passion</h2>
								<div class="line-dec"></div>
								<p>Etiam condimentum urna et nunc sagittis, at imperdiet sapien dictum. Duis nibh est, dapibus nec<br>commodo aliquam, consectetur ac enim. Morbi arcu enim lacinia</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12 bar-item">
								<div class="progress-bar" data-percent="60" data-duration="3000" data-color="#e2e2e2,#e8aa00"></div>
								<h6>Photoshop</h6>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12 bar-item">
								<div class="progress-bar" data-percent="85" data-duration="3000" data-color="#e2e2e2,#e8aa00"></div>
								<h6>Architecture</h6>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12 bar-item">
								<div class="progress-bar" data-percent="45" data-duration="3000" data-color="#e2e2e2,#e8aa00"></div>
								<h6>HTML</h6>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12 last-bar">
								<div class="progress-bar" data-percent="80" data-duration="3000" data-color="#e2e2e2,#e8aa00"></div>
								<h6>Wordpress</h6>
							</div>
						</div>
					</div>
				</section>

        <% include templates/footer.ejs %>
