<% include templates/header.ejs %>
	<div id="page-heading">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>Get in touch</h1>
								<span>Post-ironic scenester four dollar toast</span>
							</div>
						</div>
					</div>
				</div>

				<section class="contact-form">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<div class="contact-form">
									<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
										<div class="row">
											<div class="col-md-12">
												<input type="text" class="name" name="s" placeholder="First name" value="">
											</div>
											<div class="col-md-12">
												<input type="text" class="email" name="s" placeholder="Email address" value="">
											</div>
											<div class="col-md-12">
												<textarea id="message" class="message" name="message" placeholder="Write message"></textarea>
											</div>
											<div class="col-md-12">
												<div class="accent-button">
													<a href="#">Send Message</a>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-4">
								<div class="right-info">
									<h4>Contact information</h4>
									<div class="line-dec"></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac magna eget nisl scelerisque laoreet. Integer at velit mauris. Aenean non magna felis.</p>
									<ul>
										<li><i class="fa fa-map-marker"></i>3847 Bassell Avenue Little Rock, AR 72201</li>
										<li><i class="fa fa-phone"></i>501-693-7617</li>
										<li><i class="fa fa-envelope"></i>innovation@gmail.com</li>
										<li><i class="fa fa-clock-o"></i>Mon - Sat : 08:00 - 18:00</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<div class="map">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div id="map"></div>
							</div>
						</div>
					</div>
				</div>
<% include templates/footer.ejs %>
