<% include templates/header.ejs %>
				<div id="page-heading">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>Our Projects</h1>
							</div>
						</div>
					</div>
				</div>
				<section class="projects-page">
					<div class="container">
						<div class="row">
							<div class="group text-center">
								<span class="btn filter active" data-filter="all">All Projects</span>
								<span class="btn filter" data-filter=".category-1">Interior Design</span>
								<span class="btn filter" data-filter=".category-2">Buildings</span>
								<span class="btn filter" data-filter=".category-3">Constructions</span>
								<span class="btn filter" data-filter=".category-4">Isolations</span>
							</div>
						</div>
						<div class="row">
							<div class="projects">
							    <div class="mix second-row col-md-3 category-1 category-2 category-3 category-4">
							    	<div class="thumb-holder">
							  			<a href="single-project.html"><img src="http://placehold.it/270x270" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="single-project.html"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="projects/project1"><h4>Artems house</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Interior Design</span>
							  				</div>
							  			</div>
							  		</div>
							    </div>
							    <div class="mix second-row col-md-3 category-2">
							    	<div class="thumb-holder">
							  			<a href="single-project.html"><img src="http://placehold.it/270x270" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="single-project.html"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="projects/project2"><h4>Artems house 2</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Interior Design</span>
							  				</div>
							  			</div>
							  		</div>
							    </div>
							    <div class="mix second-row col-md-3 category-3 category-4">
							    	<div class="thumb-holder">
							  			<a href="single-project.html"><img src="http://placehold.it/270x270" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="single-project.html"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="single-project.html"><h4>Liverpool: Castle Street</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Interior Design</span>
							  				</div>
							  			</div>
							  		</div>
							    </div>
							    <div class="mix second-row col-md-3 category-4 category-1">
							    	<div class="thumb-holder">
							  			<a href="single-project.html"><img src="http://placehold.it/270x270" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="single-project.html"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="single-project.html"><h4>Liverpool: Castle Street</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Interior Design</span>
							  				</div>
							  			</div>
							  		</div>
							    </div>
							    <div class="mix second-row col-md-3 category-3 category-4">
							    	<div class="thumb-holder">
							  			<a href="single-project.html"><img src="http://placehold.it/270x270" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="single-project.html"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="single-project.html"><h4>Liverpool: Castle Street</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Interior Design</span>
							  				</div>
							  			</div>
							  		</div>
							    </div>
							    <div class="mix second-row col-md-3 category-2 category-3">
							    	<div class="thumb-holder">
							  			<a href="single-project.html"><img src="http://placehold.it/270x270" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="single-project.html"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="single-project.html"><h4>Liverpool: Castle Street</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Interior Design</span>
							  				</div>
							  			</div>
							  		</div>
						  		</div>
						  		<div class="mix second-row col-md-3 category-3 category-4">
							    	<div class="thumb-holder">
							  			<a href="single-project.html"><img src="http://placehold.it/270x270" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="single-project.html"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="single-project.html"><h4>Liverpool: Castle Street</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Interior Design</span>
							  				</div>
							  			</div>
							  		</div>
							    </div>
							    <div class="mix second-row col-md-3 category-4 category-1">
							    	<div class="thumb-holder">
							  			<a href="single-project.html"><img src="http://placehold.it/270x270" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="single-project.html"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="single-project.html"><h4>Liverpool: Castle Street</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Interior Design</span>
							  				</div>
							  			</div>
							  		</div>
							    </div>
						    </div>
					    </div>
					</div>
				</section>

  <% include templates/footer.ejs %>
