<% include templates/header.ejs %>

				<div id="page-heading">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>Our Projects</h1>
							</div>
						</div>
					</div>
				</div>
				<section class="projects-page">
					<div class="container">
						<div class="row">
							<div class="group text-center">
								<span class="btn filter active" data-filter="all">All Projects</span>
								<span class="btn filter" data-filter=".category-1">Modern</span>
								<span class="btn filter" data-filter=".category-2">Traditional</span>
								<span class="btn filter" data-filter=".category-3">Walking Closets</span>
								<span class="btn filter" data-filter=".category-4">Vanities</span>
								<span class="btn filter" data-filter=".category-5">Libraries</span>
								<span class="btn filter" data-filter=".category-6">Millwork</span>
							</div>
						</div>
						<div class="row">
							<div class="projects">
							    <div class="mix second-row col-md-4 category-1 category-2 category-3 category-4 category-5 category-6">
							    	<div class="thumb-holder">
							  			<a href="/projects/project1"><img src="http://placehold.it/370x370" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="/projects/project1"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="/projects/project1"><h4>Liverpool: Castle Street</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Interior Design</span>
							  				</div>
							  			</div>
							  		</div>
							    </div>
							    <div class="mix second-row col-md-4 category-2">
							    	<div class="thumb-holder">
							  			<a href="single-project.html"><img src="http://placehold.it/370x370" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="single-project.html"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="single-project.html"><h4>Liverpool: Castle Street</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Interior Design</span>
							  				</div>
							  			</div>
							  		</div>
							    </div>
							    <div class="mix second-row col-md-4 category-3 category-4">
							    	<div class="thumb-holder">
							  			<a href="single-project.html"><img src="http://placehold.it/370x370" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="single-project.html"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="single-project.html"><h4>Liverpool: Castle Street</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Interior Design</span>
							  				</div>
							  			</div>
							  		</div>
							    </div>
							    <div class="mix second-row col-md-4 category-4 category-1">
							    	<div class="thumb-holder">
							  			<a href="single-project.html"><img src="http://placehold.it/370x370" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="single-project.html"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="single-project.html"><h4>Liverpool: Castle Street</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Interior Design</span>
							  				</div>
							  			</div>
							  		</div>
							    </div>
							    <div class="mix second-row col-md-4 category-3 category-4">
							    	<div class="thumb-holder">
							  			<a href="single-project.html"><img src="http://placehold.it/370x370" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="single-project.html"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="single-project.html"><h4>Liverpool: Castle Street</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Interior Design</span>
							  				</div>
							  			</div>
							  		</div>
							    </div>
							    <div class="mix second-row col-md-4 category-5">
							    	<div class="thumb-holder">
							  			<a href="/projects/library1"><img src="/assets/images/projects/370x370/library1 370x370.jpg" alt=""></a>
							  			<div class="thumb-content">
							  				<div class="thumb-link">
							  					<a href="/projects/library1"><i class="fa fa-plus"></i></a>
							  				</div>
							  				<div class="thumb-text">
								  				<a href="/projects/library1"><h4>Library</h4></a>
								  				<span><i class="fa fa-folder-o"></i>Library 1</span>
							  				</div>
							  			</div>
							  		</div>
						  		</div>
						    </div>
					    </div>
					</div>
				</section>

  <% include templates/footer.ejs %>
