<% include ../templates/header.ejs %>
<div id="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Millwork</h1>
        <span>Post-ironic scenester four dollar toast</span>
      </div>
    </div>
  </div>
</div>

<section class="single-service">
  <div class="container">
    <div class="row">
      <% include ../templates/services.ejs %>
      <div class="col-md-9">
        <div class="single-content">
          <div class="services-slider">
            <ul class="slides">
                <li data-thumb="http://placehold.it/162x140">
                  <img src="http://placehold.it/870x440" alt="" />
                </li>
                <li data-thumb="http://placehold.it/162x140">
                  <img src="http://placehold.it/870x440" alt="" />
                </li>
                <li data-thumb="http://placehold.it/162x140">
                  <img src="http://placehold.it/870x440" alt="" />
                </li>
                <li data-thumb="http://placehold.it/162x140">
                  <img src="http://placehold.it/870x440" alt="" />
                </li>
            </ul>
          </div>
          <div class="single-text">
            <h4>Millwork</h4>
            <p><em>Asymmetrical Williamsburg letterpress, kitsch irony master cleanse cold-pressed High Life fap Brooklyn Carles ugh. Food truck health goth artisan Neutra, tofu beard retro. Cronut sartorial art party actually, sustainable photo booth roof party ugh. Locavore mlkshk selvage single-origin coffee messenger bag.</em><br><br>Slow-carb kogi organic, Kickstarter PBR Odd Future four loko. Synth jean shorts asymmetrical, pug you probably haven't heard of them VHS bicycle rights meh mustache keffiyeh tilde tousled Tumblr crucifix drinking vinegar. Pug viral Pinterest, pop-up organic beard Neutra YOLO XOXO yr photo booth. Tumblr church-key Bushwick cornhole, freegan authentic McSweeney's viral cred hoodie chambray. Ennui distillery authentic.<br><br>You probably haven't heard of them cardigan roof party four dollar toast single-origin coffee kogi mumblecore art party direct trade Schlitz fingerstache tattooed. Freegan tote bag craft beer, Carles tousled health goth selvage iPhone Kickstarter church-key put a bird on it DIY mustache. Marfa Tumblr Williamsburg, fixie wolf master cleanse flannel.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% include ../templates/footer.ejs %>
